[submodule "backend"]
	path = backend
	url = https://github.com/namdvh/DentistBookingSystemBE.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/justdoit-kyrie/DentistBookingSystemFE.git
